<%- include('partials/playerHeader') %>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto" style="margin-top: 60px;">
                    <p>
                        As of right now...only one song can be purchased at a time.
                    </p>
                    <div>Songs you want must have the box next to it checked.</div>
                    <div class="card col cardStyle">
                        <img src="/images/SMALLS.jpg" class="img-thumbnail" />
                        <div class="card-body text-center">
                            <span id="artist">Artist</span> - <span id="artistSong">Song</span>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div id="duration" class="text-center">0:00</div>
                                        <div id="progress" class="progress" style="background-color: black;">
                                            <div style="background-color: white;" id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="/musicPlayer" method="POST">
                                <% songs.forEach(song => { %>
                                    <div class="row">
                                        <div class="col-1">
                                            <input name='cartItems' class="checkboxStyle" type="checkbox" value="<%= song.song %>" />
                                        </div>
                                        <div class="col-10">
                                            <li class="makeTaller" artist="Smalls" song="songs/<%= song.song %>.mp3" cover="SMALLS.jpg">
                                                <h5 class="buffer makeTaller" style="padding-left: 5px; border-radius: 5px;"><i class="fa fa-music"></i> <%= song.song %></h5>
                                                <audio>
                                                    <source src="songs/<%= song.song %>.mp3 " type="audio/mpeg" />
                                                </audio>
                                            </li>
                                        </div>
                                    </div>
                                <% }) %>
                                <hr>
                                <button id="toCartButton" type="submit" class="btn btn-block blackColor">
                                    <i class="fa fa-shopping-cart"></i> Purchase
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
<%- include('partials/footer') %>